.input-append {
  position: relative;
  overflow: hidden;
  
  .fileinput-input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 100px;
    .opacity(.001);
  }
}

.btn {
  &.hover {
    color: @grayDark;
    text-decoration: none;
    background-color: darken(@white, 10%);
    *background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }
}
