.input-group {
  position: relative;
  overflow: hidden;
  
  .fileinput-input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    font-size: 100px;
    opacity: .001;
  }
}
